@charset "UTF-8";
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 70%;
  height: 55px;
  margin: 0 auto;
}
.header__nav {
  width: auto;
  height: 55px;
}
.header__list {
  width: auto;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__MƏTBƏX img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__MƏTBƏX img:hover {
  transform: rotate(180deg);
}
.header__MƏTBƏX a {
  font-size: 10px;
  color: black;
}
.header__MƏTBƏX a:hover {
  color: rgb(188, 105, 105);
}
.header__MƏTBƏX:hover .rowprice {
  z-index: 2;
  display: flex;
}
.header .rowprice {
  display: flex;
  position: absolute;
}
.header .rowprices__img {
  height: 400px;
  width: 300px;
}
.header .rowprices__img img {
  width: 100%;
  height: 100%;
}
.header__HAMAM img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__HAMAM img:hover {
  transform: rotate(180deg);
}
.header__HAMAM a {
  font-size: 10px;
  color: black;
}
.header__HAMAM a:hover {
  color: rgb(188, 105, 105);
}
.header__YATAQ img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__YATAQ img:hover {
  transform: rotate(180deg);
}
.header__YATAQ a {
  font-size: 10px;
  color: black;
}
.header__YATAQ a:hover {
  color: rgb(188, 105, 105);
}
.header__DEKOR img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__DEKOR img:hover {
  transform: rotate(180deg);
}
.header__DEKOR a {
  font-size: 10px;
  color: black;
}
.header__DEKOR a:hover {
  color: rgb(188, 105, 105);
}
.header__UŞAQ img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__UŞAQ img:hover {
  transform: rotate(180deg);
}
.header__UŞAQ a {
  font-size: 10px;
  color: black;
}
.header__UŞAQ a:hover {
  color: rgb(188, 105, 105);
}
.header__MILLI img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__MILLI img:hover {
  transform: rotate(180deg);
}
.header__MILLI a {
  font-size: 10px;
  color: black;
}
.header__MILLI a:hover {
  color: rgb(188, 105, 105);
}
.header__MEBEL img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__MEBEL img:hover {
  transform: rotate(180deg);
}
.header__MEBEL a {
  font-size: 10px;
  color: black;
}
.header__MEBEL a:hover {
  color: rgb(188, 105, 105);
}
.header__HƏDIYYƏ img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__HƏDIYYƏ img:hover {
  transform: rotate(180deg);
}
.header__HƏDIYYƏ a {
  font-size: 10px;
  color: black;
}
.header__HƏDIYYƏ a:hover {
  color: rgb(188, 105, 105);
}
.header__YENI img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__YENI img:hover {
  transform: rotate(180deg);
}
.header__YENI a {
  font-size: 10px;
  color: black;
}
.header__YENI a:hover {
  color: rgb(188, 105, 105);
}
.header__ENDIRIM img {
  height: 9px;
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}
.header__ENDIRIM img:hover {
  transform: rotate(180deg);
}
.header__ENDIRIM a {
  font-size: 10px;
  color: black;
}
.header__ENDIRIM a:hover {
  color: rgb(188, 105, 105);
}
.header__ENDIRIM:hover .rowprice {
  z-index: 2;
  display: flex;
}
.header .rowprice {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  display: flex;
  width: auto;
  top: 40px;
  display: none;
  text-align: start;
  padding-top: 40px;
}
.header .rowprice a {
  color: rgb(127, 48, 48);
}
.header .rowprice__list {
  top: 20px;
  list-style: none;
  margin-right: 55px;
}

.headline {
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(95, 102, 94);
  -moz-column-gap: 87px;
       column-gap: 87px;
}

.headline__logo {
  font-size: 34px;
  color: rgb(196, 154, 82);
}

.headline__search {
  height: 31px;
  width: 292px;
  border: npne;
  border: none;
  border-radius: 5px;
}

.headline__lang {
  height: 31px;
  border-radius: 5px;
  border: none;
  width: 108px;
  background-color: rgb(179, 197, 192);
  color: rgb(62, 78, 53);
}

.headline__icon {
  display: flex;
  font-size: 25px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.headline__icon__img {
  font-size: 20px;
  width: 25px;
  height: 25px;
}

.main {
  width: auto;
  height: auto;
}

.mainimg {
  width: 100%;
}

.mainimg__img {
  width: 100%;
  height: 400px;
  position: relative;
}

.mainimg__info {
  font-size: 36px;
  color: #7e7a6a;
  position: absolute;
  top: 160px;
  right: 4%;
}

.mainimg__comment {
  font-size: 27px;
  color: #c4ac83;
  position: absolute;
  top: 215px;
  right: 4%;
  background: rgb(73, 71, 56);
  border-radius: 3px;
}

.maincard {
  display: flex;
  justify-content: space-between;
}

.maincard__1 {
  width: 33%;
  height: 900px;
  position: relative;
  cursor: pointer;
}

.maincard__1__img {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}

.maincard__1__img:hover {
  scale: 0.98;
  transition: linear 0.5s;
}

.maincard__1__info {
  font-size: 29px;
  color: #f1dddd;
  position: absolute;
  top: 703px;
  right: 1%;
}

.maincard__1__comment {
  visibility: visible;
  font-size: 22px;
  color: #efe7e7;
  position: absolute;
  top: 719px;
  right: 1%;
  background: rgb(183, 169, 183);
  border-radius: 3px;
}

.maincard__1__img:hover {
  visibility: visible;
  scale: y 1.1;
  transition: linear 0.5s;
}
.maincard__1__img:hover .maincard__1__comment {
  scale: y 1.1;
  transition: linear 0.5s;
  visibility: visible;
}

.maincard__2 {
  width: 33%;
  height: 900px;
  position: relative;
  cursor: pointer;
}

.maincard__2__img {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}

.maincard__2__img:hover {
  scale: 0.98;
  transition: linear 0.5s;
}

.maincard__2__info {
  font-size: 29px;
  color: #f1dddd;
  position: absolute;
  top: 703px;
  right: 1%;
}

.maincard__2__comment {
  visibility: visible;
  font-size: 22px;
  color: #efe7e7;
  position: absolute;
  top: 719px;
  right: 1%;
  background: rgb(183, 169, 183);
  border-radius: 3px;
}

.maincard__3 {
  width: 33%;
  height: 900px;
  position: relative;
  cursor: pointer;
}

.maincard__3__img {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}

.maincard__3__img:hover {
  scale: 0.98;
  transition: linear 0.5s;
}

.maincard__3__info {
  font-size: 29px;
  color: #f1dddd;
  position: absolute;
  top: 703px;
  right: 1%;
}

.maincard__3__comment {
  visibility: visible;
  font-size: 22px;
  color: #efe7e7;
  position: absolute;
  top: 719px;
  right: 1%;
  background: rgb(183, 169, 183);
  border-radius: 3px;
}

.products {
  margin: 30px;
}

.products__line {
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  width: 80%;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.products__cards {
  width: 25%;
  height: auto;
  position: relative;
  cursor: pointer;
}

.products__cards:hover {
  transition: linear 0.2s;
}
.products__cards:hover img {
  box-shadow: 2px 2px 5px 2px rgba(68, 68, 69, 0.49);
}

.products__image {
  width: 100%;
  height: 550px;
  position: relative;
}

.products__imageh {
  visibility: visible;
  font-size: 20px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 2%;
  top: 1%;
}

.products__goods {
  text-align: center;
  font-size: 22px;
}

.products__price {
  text-align: center;
  color: green;
  font-size: 21px;
}

#bottom {
  width: 100%;
  min-height: 300px;
  background-color: #000;
  color: #fff;
}
#bottom footer .contact {
  display: flex;
  justify-content: space-around;
}
#bottom footer .contact ul {
  width: 150px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 25px;
}
#bottom footer .contact ul h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
#bottom footer .contact ul li {
  opacity: 0.5;
  margin-top: 10px;
}
#bottom footer .contact .subscribe {
  width: 400px;
  display: inline-block;
  margin-top: 20px;
}
#bottom footer .contact .subscribe h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
}
#bottom footer .contact .subscribe p {
  opacity: 0.5;
}
#bottom footer .contact .subscribe form input[type=email] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(215, 213, 213);
  width: 100%;
  outline: none;
}
#bottom footer .contact .subscribe form input[type=submit] {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: orange;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 6px;
}
#bottom footer a {
  color: #fff;
}/*# sourceMappingURL=style.css.map */